*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  /* text-decoration: none; */
  color: inherit;
}

body {
  font-family: 'Noto Sans';
  background-color: #000;
  color: #ffffff;
  height: 100%;
  width: 100%;
}

[class*='__container'] {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media (max-width: 1210px) {
  [class*='__container'] {
    max-width: 1097px;
  }
}

@media (max-width: 991.98px) {
  [class*='__container'] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*='__container'] {
    max-width: none;
  }
}

[class*='-title'],
[class*='__title'] {
  font-family: 'Montserrat';
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

/* /////////////////////////////////////////////////////////////////// */
.header {
  margin-top: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 108px;
  min-height: 76px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header__logo-img {
}

.header__logo-title {
}

.header__logo:hover {
  scale: 1.2;
  transition: scale 0.2 ease;
}

.header__autorization {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.header__autorization-icon {
}

.header__autorization-text {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.header__autorization-text:hover {
  color: #f101bf;
}

.text-login {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

/* /////////////////////////////////////////////////////////////////// */
.main {
  flex: 1 1 auto;
}

.platform {
}

.platform__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 18px;
}

.platform__content {
  flex: 0 1 52%;
}

.platform__block {
  max-width: 100%;
}

.platform__block-title {
  font-size: 64px;
  line-height: 109%;
  padding-bottom: 138px;
}

.platform__block-desc {
  display: flex;
}

.platform__block-desc_line {
  position: relative;
  width: 139.43px;
  height: 0px;
  border: 3px solid #ffffff;
  transform: rotate(120.61deg);
}

.platform__block-desc_line::before {
  content: '';
  position: absolute;
  bottom: -60px;
  left: -30px;
  width: 125px;
  height: 125px;
  background: rgba(96, 92, 234, 0.5);
  filter: blur(50px);
}

.platform__block-desc_text {
  max-width: 380px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.platform__img {
  flex: 0 1 48%;
}

.platform__img::before {
  content: '';
  position: absolute;
  width: 45%;
  height: 55%;
  right: 0px;
  top: 0px;
  background: rgba(250, 0, 255, 0.2);
  filter: blur(125px);
  transform: rotate(-105.26deg);
  z-index: -1;
}

.platform__img-img {
  max-width: 100%;
  padding-left: 180px;
  position: relative;
}

.platform__img-img::before {
  content: '';
  position: absolute;
  background: #ffffff;
  opacity: 0.2;
  filter: blur(78.8812px);
  width: 295.02px;
  height: 640.52px;
  top: 0;
  left: 0;
}

.platform__download {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-right: 63px;
}

.platform__download-title {
  font-size: 35px;
  line-height: 70px;
}

.download {
  display: flex;
  gap: 28px;
}
.download-item img {
  min-width: 160px;
  min-height: 51px;
}

.download-item:hover {
  scale: 0.8;
}

.cookies {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212834;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 93px;
  z-index: 100;
  transform: translateY(100%);
  transition: transform 1s 0.2s ease;
}

.cookies__show {
  transform: translateY(0);
  transition: transform 1s 0.2s ease;
}

.cookies-text {
  padding-left: 100px;
}

.cookies-btn {
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #ffffff;
  border-radius: 6px;
  padding: 15px 56px;
  color: #fff;
  margin-right: 24px;
  cursor: pointer;
}

@media (max-width: 1210px) {
  .platform__download {
    padding-right: 30px;
  }
  .platform__img-img {
    padding-left: 100px;
  }
}

@media (max-width: 991.98px) {
  .header__container {
    justify-content: space-between;
  }
  .platform {
    padding-top: 65px;
  }
  .platform__img {
  }
  .platform__img-img {
    padding-left: 30px;
  }
  .platform__download {
    padding-right: 0px;
    gap: 15px;
    flex-direction: column;
  }
  .platform__block-desc_line {
    width: 0;
    border: 0;
  }
  .platform__block-title {
    padding-bottom: 24px;
  }
}

@media (max-width: 767.98px) {
  .platform__block-title {
    font-size: 55px;
  }
  .platform__img {
    position: relative;
    right: -50px;
  }
  .platform__img::before {
    transform: rotate(-90.69deg);
    background: rgba(250, 0, 255, 0.5);
  }
}

@media (max-width: 540.98px) {
  .header__autorization-text {
    padding-bottom: 6px;
  }
  .header__logo-img {
    width: 51.73px;
    height: 52.69px;
  }
  .header__logo-img img {
    max-width: 100%;
  }
  .header__logo-title {
    width: 46.41px;
    height: 11.96px;
  }
  .header__logo-title img {
    max-width: 100%;
  }
  .header__autorization-icon {
    display: none;
  }
  .text-login {
    font-size: 14px;
    line-height: 19px;
  }
  .platform__block-title {
    font-size: 35px;
  }
  .platform__block-desc_text {
    font-size: 16px;
    line-height: 22px;
  }
  .platform__download-title {
    font-size: 24px;
    line-height: 29px;
  }
  .platform__download {
    gap: 34px;
  }
  .download {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .platform__content {
    flex: 0 1 70%;
  }
  .platform__img {
    /* flex: 0 1 38%; */
    max-width: 0px;
    position: static;
  }
  .platform__img-img {
    width: 161px;
    height: 322.99px;
    max-width: none;
  }
  br {
    display: none;
  }
  .cookies {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .cookies-text {
    padding-left: 15px;
    max-width: 200px;
  }
  .cookies-btn {
    padding: 16px 36px;
  }
}

/* Mission ===================================================== */

.mission {
  margin-top: 70px;
}
.mission__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mission__info {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.mission__info-item {
  padding: 64px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 21.3671px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.info-item__text {
  width: 375px;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}
.info-item__link {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

.info-item__link:hover {
  color: #f101bf;
}

.mission__img {
  transform: rotate(90deg);
  position: relative;
  right: 100px;
}

.mission__img img {
  max-width: 100%;
}

.mission__content {
  padding-top: 236px;
  padding-right: 63px;
}
.mission__content__block-text {
  /* padding-left: 168px; */
  max-width: 358px;
  position: relative;
  z-index: 2;
}
.mission__content__block-text::before {
  content: '';
  position: absolute;
  background: #f101bf;
  opacity: 0.7;
  filter: blur(50px);
  right: 150px;
  width: 85px;
  height: 85px;
  z-index: -1;
}
.block-text {
}
.block-text__title {
  font-size: 51px;
  line-height: 62px;
  margin-bottom: 23px;
}
.block-text__text {
  max-width: 315px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

@media (max-width: 1210px) {
  .mission__container {
    flex-direction: column;
    align-items: center;
    gap: 110px;
  }
  .mission__info-item {
    padding: 40px;
  }
  .mission__info {
    gap: 40px;
  }
  .mission__content {
    order: 1;
    padding: 0;
  }
  .mission__img {
    order: 2;
    right: 0;
    transform: none;
  }
}

@media (max-width: 991.98px) {
  .mission {
    margin-bottom: 150px;
  }
  .mission__info {
    flex-direction: column;
    align-items: center;
  }
  .mission__img {
    padding: 0 85px;
    top: 0;
  }
}

@media (max-width: 540.98px) {
  .mission__container {
    align-items: stretch;
  }
  .info-item__text {
    font-size: 24px;
    line-height: 33px;
    max-width: 258px;
  }
  .info-item__link {
    font-size: 18px;
    line-height: 25px;
  }
  .block-text__title {
    font-size: 24px;
    line-height: 29px;
  }
  .block-text__text {
    font-size: 16px;
    line-height: 22px;
  }
  .mission__content__block-text::before {
    left: 0px;
    top: -25px;
  }
}

/* Scanner ===================================================== */

.scanner {
  position: relative;
}

.scanner__background__gradient {
  position: absolute;
  background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%);
  background-position: center;
  background-size: 100%;
  max-height: 1060px;
  height: 100%;
  z-index: -1;
  width: 100%;
}

.scanner__background {
  position: absolute;
  top: 25px;
  max-height: 836px;
  height: 100%;
  background-image: url('../img/scanner-background/man.webp');
  background-position: center;
  background-size: 100%;
  width: 100%;
  background-repeat: no-repeat;
  z-index: -2;
}

.scanner__container {
  display: flex;
  align-items: flex-end;
  padding-top: 48vh;
  gap: 128px;
}

.scanner__img {
  margin-bottom: -74px;
}

.scanner__img img {
  max-width: 100%;
}

.scanner__img img:not(:last-child) {
  padding-right: 48px;
}

.scanner__content {
}

.scanner__content__block-text {
}

@media (max-width: 1210px) {
  .scanner__container {
    flex-direction: column;
    align-items: center;
    padding-top: 76vh;
  }
  .scanner__img {
    order: 2;
  }
}

@media (max-width: 991.98px) {
  .scanner__background__gradient {
    max-height: 675px;
  }
  .scanner__background {
    max-height: 536px;
  }
  .scanner__container {
    padding-top: 58vh;
  }
}

@media (max-width: 767.98px) {
  .scanner__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
  }
  .scanner__img img:not(:last-child) {
    padding: 0;
  }
}

@media (max-width: 540.98px) {
  .scanner__container {
    align-items: stretch;
    padding-top: 58vh;
    gap: 70px;
  }
  .scanner__background__gradient {
    max-height: 351px;
    width: 130%;
    background: linear-gradient(
      179.83deg,
      #000000 -1.85%,
      rgba(0, 0, 0, 0.67) 11.21%,
      rgba(0, 0, 0, 0) 54.71%,
      #000000 83.92%
    );
  }
  .scanner__background {
    max-height: 303px;
    width: 110%;
  }
  .scanner__container {
    padding-top: 26vh;
  }
  .scanner__block-text {
    max-width: none;
  }
  .scanner__img {
    padding: 30px;
  }
}

/* Tool ===================================================== */

.tool {
  margin-top: 38vh;
  margin-bottom: 45vh;
}
.tool__container {
  display: flex;
  justify-content: center;
}

.tool__content {
  position: relative;
  flex: 0 1 50%;
}

.tool__content::before {
  content: '';
  position: absolute;
  background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
  filter: blur(125px);
  transform: rotate(5.78deg);
  opacity: 0.1;
  width: 426.21px;
  height: 438.35px;
  left: -220px;
  top: -200px;
}

.tool__block-text {
  max-width: 395px;
}

.tool__img {
  position: relative;
  flex: 0 1 50%;
}

.tool__img img {
  position: absolute;
}

.img1 {
  left: 150px;
  bottom: -132px;
  z-index: 10;
}

.img2 {
  left: -90px;
  bottom: -82px;
}

.img3 {
  bottom: -232px;
  left: 100px;
}

.img4 {
  bottom: -95px;
  right: 90px;
  z-index: 5;
}

.img5 {
  top: -50px;
  right: 150px;
}

.img6 {
  bottom: -232px;
  right: -10px;
}

.img7 {
  bottom: 50px;
  left: 35px;
}

@media (max-width: 1210px) {
  .img7 {
    left: 0;
  }
  .img6 {
    right: -100px;
  }
}
@media (max-width: 991.98px) {
  .tool {
    margin-top: 250px;
  }
  .img3 {
    left: 0;
  }
  .img4 {
    bottom: 0;
    right: 0;
  }
  .img5 {
    top: 0;
    right: 0;
  }
  .tool__img img.img6 {
    max-width: 100%;
  }
  @media (max-width: 767.98px) {
    .tool__container {
      flex-direction: column;
      gap: 30px;
    }
    .tool__img {
      min-height: 276px;
    }
    .tool__img img.img5 {
      max-width: 40%;
    }
    .img5 {
      left: 0;
    }
    .tool__block-text {
      max-width: none;
    }
  }
  @media (max-width: 540.98px) {
    .tool__img img {
      max-width: 25%;
    }
    .tool {
      margin-top: 200px;
      margin-bottom: 0;
    }
    .tool__content::before {
      height: 0;
    }
    .img1 {
      top: 40px;
      left: 180px;
    }
    .img2 {
      left: -500px;
    }
    .img4 {
      top: 0;
    }
    .img5 {
      top: 180px;
      left: -50px;
    }
    .img7 {
      top: 70px;
      left: 40px;
    }
    .img3 {
      bottom: 125px;
      left: 130px;
    }
    .img6 {
      bottom: 0px;
    }
  }
}

/* QR-CODE ===================================================== */

.qr-code {
  display: flex;
  flex-direction: column;
  position: relative;
}

.qr-code__top__container::before {
  content: '';
  position: absolute;
  background-image: url('../img/qr-code/Nightlife.svg');
  width: 134px;
  max-height: 74.24px;
  height: 100%;
  right: 0px;
  top: 0px;
  z-index: 10;
}

.qr-code__top {
}

.qr-code__background__gradient {
  position: absolute;
  background: linear-gradient(179.83deg, #000000 -2.04%, rgba(0, 0, 0, 0) 57.81%, #000000 84.97%);
  background-position: center;
  background-size: 100%;
  max-height: 682px;
  height: 100%;
  z-index: -1;
  width: 100%;
}

.qr-code__background {
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -2;
  height: 100%;
}

.background-one {
  background-image: url('../img/qr-code/disco-1.webp');
  width: 50%;
  height: 606px;
  left: 0px;
}

.background-two {
  background-image: url('../img/qr-code/drink-1.webp');
  width: 45%;
  height: 617px;
  right: 0px;
}

.qr-code__top__container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 200px;
  gap: 80px;
}

.qr-code__top__content {
  /* flex: 0 1 25%; */
  display: flex;
  flex-direction: column;
  gap: 58px;
  margin-left: 65px;
  margin-top: 100px;
}

.qr-code__top__content__block-text {
}

.qr-code__top-img {
  /* flex: 0 1 50%; */
  display: flex;
  gap: 80px;
}

.top-img1 img {
  max-width: 100%;
}

.top-img2 {
  z-index: 10;
  margin-top: 350px;
}

.top-img2 img {
  max-width: 100%;
}

.qr-code__bottom {
  padding-top: 40px;
}
.qr-code__noTab {
  padding-top: 108px;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 160px;
  z-index: -1;
  left: -360px;
}

.noTab-top {
  position: relative;
  display: flex;
  gap: 170px;
}
.noTab-top img {
  max-width: 100%;
}

.noTab-bot {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  left: -180px;
  gap: 504px;
}

.noTab-top img {
  max-width: 100%;
}

.noTab-bot img {
  max-width: 100%;
}

.noTab-bot img:last-child {
  margin-top: -40px;
}

.qr-code__bottom__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

.qr-code__bottom__block {
  position: relative;
  padding-left: 250px;
  display: flex;
  align-items: center;
  gap: 130px;
}
.qr-code__bottom__block-img {
  position: relative;
}

.qr-code__bottom__block-img::before {
  content: '';
  position: absolute;
  background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
  opacity: 0.15;
  filter: blur(155.784px);
  border-radius: 476.034px;
  transform: rotate(-0.55deg);
  width: 1022.45px;
  height: 952.07px;
  right: -350px;
  top: -50px;
  z-index: -1;
}

.qr-code__bottom__block-text {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  top: -80px;
  left: -60px;
}

.text-block_arrow {
}

.text-block_text {
  cursor: pointer;
  position: relative;
  left: 70px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.text-block_text:hover {
  scale: 1.1;
  transition: scale 0.2 ease;
}

.qr-code__bottom__content__block-text {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qr-code__title {
  max-width: 381px;
}

.qr-code__text {
  max-width: 292px;
}

@media (max-width: 1210px) {
  .qr-code__top__container {
    flex-direction: column;
  }
  .top-img2 {
    margin: 0;
  }
}

@media (max-width: 991.98px) {
  .qr-code__top__content {
    margin: 0;
  }
  .qr-code__block-text {
    max-width: none;
  }
  .qr-code__bottom__block {
    order: 2;
    padding: 0;
    display: block;
  }
  .qr-code__top__container::before {
    right: 0;
  }
  .qr-code__background__gradient {
    height: 50%;
  }
  .qr-code__bottom__content__block-text {
    display: block;
  }
  .qr-code__bottom__block-text {
    left: 350px;
  }
  .qr-code__noTab {
    width: 100%;
    left: -260px;
  }
  .noTab-top {
    width: 100%;
  }
  .noTab-bot {
    gap: 300px;
    left: -80px;
  }
  /* .noTab-top img {
    max-width: 50%;
  }
  .noTab-bot img {
    max-width: 50%;
  } */
}

@media (max-width: 767.98px) {
  .qr-code__top__content {
    margin-top: 50px;
  }
  .qr-code__top-img {
    flex-direction: column;
  }
  .qr-code__background__gradient {
    height: 40%;
  }
  .qr-code__bottom__block-text {
    top: -10px;
  }
  .text-block_text {
    left: -60px;
  }
}

@media (max-width: 540.98px) {
  /* .download-item:first-child {
    width: 100%;
  } */
  .download-item:first-child img {
    width: 100%;
  }
  .qr-code {
    margin-top: 50px;
  }
  .qr-code__top__container::before {
    top: 80vh;
    right: 150px;
    width: 50%;
    background-repeat: no-repeat;
  }
  .qr-code__top__container {
    align-items: stretch;
    gap: 240px;
  }
  .background-one {
    width: 100%;
  }
  .background-two {
    width: 90%;
    top: 68vh;
    right: -30px;
  }
  .qr-code__top-img {
    padding: 30px;
  }
  .qr-code__background__gradient {
    height: 35%;
  }
  .qr-code__block-text {
    max-width: 308px;
  }
  .qr-code__top-img {
    gap: 50px;
  }
  .qr-code__bottom__block-img img {
    max-width: 55%;
  }
  .qr-code__bottom__block-img {
    display: flex;
    justify-content: center;
  }
  .qr-code__noTab {
    gap: 40px;
    left: -115px;
  }
  .noTab-top {
    max-width: 50%;
    gap: 65px;
  }
  .noTab-bot {
    max-width: 50%;
    left: -40px;
    gap: 140px;
  }
  .qr-code__bottom__container {
    gap: 70px;
  }
  .qr-code__bottom__block-img::before {
    width: 306.36px;
    height: 285.27px;
    filter: blur(46.6782px);
    border-radius: 142.636px;
    right: 0;
    top: 0;
  }
  .qr-code__bottom__block-text {
    left: 250px;
  }
  .text-block_text {
    font-size: 18px;
    line-height: 22px;
  }
  .text-block_arrow {
    transform: rotate(40deg);
    position: relative;
    top: 65px;
    left: -25px;
  }
}

/* ordering ===================================================== */

.ordering {
  margin-top: 200px;
}
.ordering__container {
}

.ordering__content {
  display: flex;
  justify-content: flex-end;
  margin-right: 45px;
}

.ordering__content__block-text {
}

.ordering__title {
  max-width: 421px;
}

.ordering__text {
  max-width: 365px;
}

.ordering__block {
  position: relative;
}

.ordering__block::before {
  content: '';
  position: absolute;
  background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
  opacity: 0.2;
  filter: blur(125px);
  transform: rotate(5.78deg);
  width: 286.92px;
  height: 267.17px;
  right: -230px;
}
.ordering__block__img {
  display: flex;
  justify-content: center;
}
.ordering__block__text {
  display: flex;
  font-weight: 500;
  font-size: 22.8021px;
  line-height: 27px;
}

.block__text__one,
.block__text__two {
  padding: 23px;
  background: #000000;
  border: 0.76007px solid rgba(255, 255, 255, 0.5);
  border-radius: 18.2417px;
}

.block__text__three,
.block__text__four {
  padding: 19px;
  align-self: flex-start;
  background: #000000;
  border: 0.76007px solid rgba(255, 255, 255, 0.5);
  border-radius: 18.2417px;
}

.block__text__one {
  position: absolute;
  top: 365px;
  left: 160px;
}

.block__text__two {
  position: absolute;
  top: 200px;
  right: 285px;
}

.block__text__three {
  position: absolute;
  bottom: 25vh;
  left: 390px;
}

.block__text__four {
  position: absolute;
  font-weight: 700;
  bottom: 33vh;
  right: 160px;
}

@media (max-width: 1210px) {
  .block__text__one {
    left: 0px;
  }
}

@media (max-width: 991.98px) {
  .ordering {
    margin-top: 116px;
  }
  .block__text__two {
    right: 0;
  }
  .block__text__one {
  }
  .ordering__block__img img {
    max-width: 100%;
  }
  .block__text__three {
    left: 0;
  }
  .block__text__four {
    bottom: 0;
  }
}

@media (max-width: 767.98px) {
  .ordering__content {
    justify-content: flex-start;
    margin-bottom: 145px;
  }
  .block__text__one {
    top: -50px;
  }
}

@media (max-width: 540.98px) {
  .ordering__title {
    max-width: 198px;
  }
  .ordering__block__text {
    font-size: 14px;
    line-height: 16px;
  }
  .block__text__one,
  .block__text__two {
    max-width: 175px;
    padding: 13px;
    border-radius: 10px;
  }
  .block__text__four {
    max-width: 152px;
  }
  .block__text__three,
  .block__text__four {
    padding: 13px;
    border-radius: 10px;
  }
  .block__text__one {
    top: -80px;
    left: 30px;
  }
  .block__text__two {
    top: 20px;
  }
  .ordering__text {
    max-width: none;
  }
  .ordering__content {
    margin-right: 0;
  }
  .block__text__three {
    bottom: 40px;
    left: 10px;
  }
  .block__text__four {
    right: 0;
    bottom: -50px;
  }
}

/* NOTAB ===================================================== */
.notab {
  position: relative;
}

.notab__background::before {
  content: '';
  position: absolute;
  background: linear-gradient(360deg, #000000 6.8%, rgba(0, 0, 0, 0) 51.62%, #000000 97.38%);
  width: 100%;
  height: 100%;
}
.notab__background {
  display: flex;
  position: absolute;
  left: -320px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 210px;
  line-height: 227px;
  color: #000;
  /* color: transparent; /* прозрачный цвет букв */
  text-shadow: 0px 1px 0 rgba(139, 139, 139, 1), 0px -1px 0 rgba(139, 139, 139, 1),
    1px 0px 0 rgba(139, 139, 139, 1), -1px 0px 0 rgba(139, 139, 139, 1),
    1px 1px 0 rgba(139, 139, 139, 1), 1px -1px 0 rgba(139, 139, 139, 1),
    -1px 1px 0 rgba(139, 139, 139, 1), -1px -1px 0 rgba(139, 139, 139, 1);
  z-index: -1;
}

.notab__container {
  padding-top: 39vh;
}
.notab__content {
  display: flex;
  justify-content: center;
}

.notab__content_outside {
  position: relative;
}

.notab__content_outside img {
  max-width: 100%;
}

.notab__content_inside {
  position: absolute;
  top: 25px;
  left: 90px;
}

.notab__content_inside {
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .notab__content_inside {
    max-width: 77%;
  }
}
@media (max-width: 540.98px) {
  .notab {
    display: none;
  }
}

/* SEND-FORM ===================================================== */
.send-form {
  margin-top: 30vh;
}

.send-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 82px;
}

.send-form__content {
}

.send-form__content__block-text {
  position: relative;
  text-align: center;
}

.send-form__content__block-text::before {
  content: '';
  position: absolute;
  background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
  width: 247.04px;
  height: 250.45px;
  left: -90px;
  top: -70px;
}

.send-form__text {
  max-width: 580px;
}

.send-form__form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 23px;
}

.send-form__form::before {
  content: '';
  position: absolute;
  background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
  width: 336.78px;
  height: 341.42px;
  bottom: 0;
  right: -200px;
}

.send-form__element {
  width: 818px;
  height: 83px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.element-message {
  height: 199px;
}

.send-form__element.element {
  width: 397px;
}

.send-form__submit {
  margin-top: 60px;
  color: #fff;
  width: 398px;
  height: 80px;
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
}

.send-form__submit:hover {
  color: #505358;
}

/* .send-form__element:invalid {
  border: 2px solid #ff0000;
  border-color: ;
} */

::-webkit-input-placeholder {
  font-family: 'Noto Sans';
  color: #bfbfbf;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding-left: 23px;
}

.send-form__element::-moz-placeholder {
  font-family: 'Noto Sans';
  color: #bfbfbf;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding-left: 23px;
}

@media (max-width: 767.98px) {
  .send-form__element {
    width: 100%;
  }
  .send-form__element.element {
    width: 100%;
  }
  .footer__top__download-items {
    flex-direction: column;
  }
}

@media (max-width: 540.98px) {
  .send-form__container {
    gap: 49px;
  }
  .send-form {
    margin-top: 155px;
  }
  .send-form__text {
    max-width: none;
  }
  .send-form__element {
    height: 57px;
    border-radius: 10px;
  }
  .send-form__element.element {
    height: 57px;
    border-radius: 10px;
  }
  .element-message {
    height: 140px;
  }
  .send-form__submit {
    width: 345px;
    height: 80px;
  }
}

/* Footer ===================================================== */
.footer {
  margin-top: 91px;
  margin-bottom: 81px;
}
.footer__container {
}
.footer__top {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}
.footer__top__download {
  text-align: center;
}
.footer__top__download-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  padding-bottom: 32px;
}
.footer__top__download-items {
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
}
.footer__bottom__contact-info {
  position: relative;
  cursor: pointer;
}

.footer__bottom__contact-info::before {
  content: '';
  position: absolute;
  background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
  width: 305.99px;
  height: 311.6px;
  top: -140px;
  right: -50px;
}
.footer__bottom__privacy-policy {
  cursor: pointer;
  text-align: center;
}

.contact-info__img {
  padding-bottom: 16px;
}

.contact-info__contact {
  max-width: 171px;
  font-weight: 500;
  padding-bottom: 19px;
}

.contact-info__contact:hover {
  color: #f101bf;
}

.contact-info__year {
}

.contact-info__year:hover {
  color: #f101bf;
}

.privacy-policy__use {
  padding-bottom: 25px;
}

.privacy-policy__use:hover,
.privacy-policy__privacy:hover {
  color: #f101bf;
}

.privacy-policy__privacy {
}

@media (max-width: 540.98px) {
  .send-form__form::before {
    bottom: -150px;
    right: -250px;
  }
  .footer {
    margin-bottom: 24px;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    gap: 58px;
  }
  .footer__bottom__privacy-policy {
    order: 1;
  }
  .footer__bottom__contact-info {
    order: 2;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
  }
  .contact-info__contact {
    max-width: none;
  }
  .footer__bottom__contact-info::before {
    filter: blur(69.1733px);
    top: -60px;
    right: 150px;
  }
}
